<div class="container">
    <h2>The RIPper</h2>

    <p>Please direct all queries and suggestions to: <a href="mailto:theripper.fungi@gmail.com">theripper.fungi@gmail.com</a></p>
    <p>
        The RIPper is a set of web-based tools designed for analyses of Repeat-Induced Point (RIP)
        mutations in genome sequences of Ascomycota. The RIP pathway is a fungal
        genome defense mechanism that is aimed at identifying repeated and duplicated motifs into
        which cytosine to thymine transition mutations are introduced. RIP serves to deactivate and
        counteract the deleterious consequences of selfish or mobile DNA elements in fungal
        genomes. The occurrence, genetic context and frequency of RIP mutations are widely used
        to assess the activity of this pathway in genomic regions of interest. The RIPper is, therefore,
        specifically geared to automate the investigation of changes in RIP product and substrate
        frequencies in fungal lineages.
    </p>
    <p>
        This bioinformatic tool generates genome-wide RIP data that
        is summarized in a RIP profile for each genome sequence investigated. The RIPper is further
        useful for investigating and visualizing changes in RIP mutations across the length of the
        sequence of interest, allowing for fine-scale RIP analysis. The RIPper effectively identifies
        large consecutively RIP affected genomic regions and provides RIP statistics for an entire
        genome assembly. The RIPPer can also calculate the total proportion
        of a genome assembly altered by RIP.
    </p>
    <h2>What is RIP?</h2>
    <p>
        RIP is a genome defence mechanism unique to fungi. Unlike other
        genome defence mechanisms, RIP permanently mutates targeted regions by inducing
        cytosine to thymine biased transition mutations. RIP targets duplicated gene regions and
        repeated sequences such as Transposable Element (TE) sequences.
    </p>
    <h2>Large RIP Affected Regions (LRARs)</h2>
    <p>
        LRARs play an important role in fungal genome evolution. In RIP-capable
        fungi, the genomic regions that are RIP affected often span thousands of base pairs
        and constitute a considerable proportion of the genomes. Regions that are extensively targeted by RIP are
        typically characterized by reduced GC content, reduced coding capacity and have
        overall high composite and product RIP index values are usually high. For instance, the genome of the
        pathogenic fungus <i>Leptospaeria maculans</i> is  segmented into AT-rich and
        GC equilibrated genomic compartments due to RIP activity (Rouxel <i>et al.</i>, 2011). RIP
        also facilitates sequence diversification in the targeted regions and actively contributes to
        evolution of the dispensable genomic compartments (Rouxel <i>et al.</i> 2011, Meerupati <i>et al.</i>
        2013).
    </p>

    <p>
        The RIPPer can identify LRARs.
        The criteria for LRARs can be adjusted according to user preferences. Standard parameters
        for identifying LRARs using The RIPper is seven consecutive windows (4 000 bp)
        displaying RIP activity based on RIP product, substrate and composite index values. An
        index chain describes the total count of windows needed to be consecutively RIP affected to
        define a LRAR. For more stringent analysis, the minimum composite index value considered
        for each window can be adjusted. The data generated using the ‘Calculate LRAR’ tool
        provides information on the genomic location, the total count of consecutive RIP affected
        windows, average RIP index values across the length of the LRAR and the average GC
        content of each LRAR identified
    </p>

    <p>
        Standalone versions are available from on github (<a href="https://github.com/TheRIPper-
        Fungi/TheRIPper">
    https://github.com/TheRIPper-
    Fungi/TheRIPper
</a>)
    </p>

    <h2>Using The RIPper Web Application</h2>

    <ol>
        <li>
            Select FILES from the home page. Genomic data can be uploaded in FASTA format. <a href="~/examples/EXAMPLE FASTA.txt">Example</a>
            <video style="width:100%" controls>
                <source src="~/videos/UploadFastaFile.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </li>
        <li>
            Please enter only one genome per line. Records in multi-FASTA files will be
            assumed to belong to the same genome.
        </li>
        <li>
            The RIPper is only designed for nucleic acid sequences and not for protein sequences.
        </li>
        <li>
            The RIPper is not optimized to quantify and identify RIP affected regions in
            Basidiomycetes.
        </li>
        <li>
            Scroll over each options and actions for additional information.
        </li>
    </ol>

    <h3>The RIPper provides four options for RIP analysis:</h3>


    <ol type="A">
        <li>
            RIP sequence analysis: Calculate and visualise RIP values for a single scaffold for
            fine scale RIP analysis using a sliding window approach. RIP sequence option analyses also allows
            for calculating LRARs for individual sequences.
            <br />
        </li>
        <li>
            RIP genome analysis: Calculate RIP affected regions for the entire genome
            using a sliding window. Results are given for RIP product, substrate,
            composite index values as well as GC content for each window investigated.
            The window size for the RIP index analyses is user defined, but default
            parameters for genome-wide quantification is pre-set at 1000 bp with a 500 bp
            step size.

            <video style="width:100%" controls>
                <source src="~/videos/RIPGenome.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </li>
        <li>
            Calculate LRAR: To calculate the genomic positions and RIP statistics for
            Large RIP Affected Regions. The criteria for LRARs is adjustable according to
            user preferences, but default parameters constitute seven consecutive RIP-positive
            windows, spanning at least 4 000 bp. For more stringent analysis, the minimum
            composite index value considered for each window can be adjusted. The data
            generated using the ‘Calculate LRAR’ tool provides information on the genomic
            location, the total number of consecutive RIP-positive windows, average RIP index
            values across the length of the LRAR and the average GC content of each LRAR
            identified.
            <video style="width:100%" controls>
                <source src="~/videos/LRAR.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </li>
        <li>
            RIP profile: Analysis and RIP statistics for the entire genome sequence. <a href="~/examples//EXAMPLE results.xlsx">Example</a>
            <video style="width:100%" controls>
                <source src="~/videos/RIPProfile.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </li>
    </ol>
    <p>
        All raw data, results and figures are exportable using the dropdown menu for each of the RIP
        analysis options.
    </p>


    <h2>Background on measuring RIP mutations</h2>
    <p>
        The RIPper measures changes in RIP mutations based on the principles proposed by
        Margolin <i>et al.</i> 1998, Lewis <i>et al.</i> 2009 and Selker <i>et al.</i> 2003.
    </p>

    <h2>
        RIP substrate index
    </h2>
    <p>
        Calculates the index values in sequences that have not been RIP affected <br />
        <i>Substrate Index Value</i> [CpA +TpG/ ApC + GpT]: 0.9 ≥ x <br />
        values less than 0.9 are RIP affected. Margolin <i>et al.</i> 1998 and Sekker <i>et al.</i> 2003
    </p>

    <h2>RIP product index</h2>
    <p>
        An increase in RIP products indicate that RIP mutations have occurred <br />
        <i>Product Index Value</i> [TpA/ ApT]: 0.8 ≤ x ≥ 1.1 <br />
        Values greater than 1.1 indicates that the genomic region is RIP affected. Values below 0.8 indicate <br />
        that a region is not RIP affected. Margolin <i>et al.</i> 1998 and Sekker <i>et al.</i> 2003
    </p>

    <h2>RIP composite index</h2>
    <p>
        Changes in both RIP substrate and RIP product index values are considered in calculating the <br />
        RIP composite index values in a genomic region <br />
        <i>Composite Index Value</i> [(TpA/ ApT) – (CpA + TpG/ ApC + GpT)]: x ≥ 0 <br />
        Therefore, a positive RIP composite index value implies that the region is RIP affected. <br />
        Lewis <i>et al.</i> 2009
    </p>

    <table class="table table-responsive">
        <thead>
            <tr>
                <td>Operating System</td>
                <td>Version</td>
                <td>Chrome</td>
                <td>Firefox</td>
                <td>Edge</td>
                <td>Safari</td>
            </tr>
        </thead>
        <tr>
            <td>Linux</td>
            <td>64bit</td>
            <td>70+</td>
            <td>63+</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>Windows</td>
            <td>64bit</td>
            <td>70+</td>
            <td>63+</td>
            <td>17+</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>MacOs</td>
            <td>64bit</td>
            <td>70+</td>
            <td>63+</td>
            <td>N/A</td>
            <td>12+</td>
        </tr>
    </table>

    <h2>References</h2>

    <p>
        Margolin BS, Garrett-Engele PW, Stevens JN, Fritz DY, Garrett-Engele C, Metzenberg RL, Selker EU. (1998)
        A methylated <i>Neurospora</i> 5S rRNA pseudogene contains a transposable element inactivated by repeat-induced
        point mutation. <u>Genetics</u> 149:1787–1797.
    </p>

    <p>
        Selker EU, Tountas NA, Cross SH, Margolin BS, Murphy JG, Bird AP, Freitag M. (2003) The methylated
        component of the <i>Neurospora crassa</i> genome. <u>Nature</u> 422:893–897.
    </p>

    <p>
        Lewis ZA, Honda S, Khlafallah TK, Jeffress JK, Freitag M, Mohn F, Schübeler D, Selker EU (2009). Relics of
        repeat-induced point mutation direct heterochromatin formation in <i>Neurospora crassa</i>. <u>Genome Research</u>
        19:427-37.
    </p>

    <p>
        Rouxel, T., J. Grandaubert, J. K. Hane, C. Hoede, A. P. van de Wouw, A. Couloux, V. Dominguez, V.
        Anthouard, P. Bally, S. Bourras, A. J. Cozijnsen, L. M. Ciuffetti, A. Degrave, A. Dilmaghani, L. Duret, I. Fudal,
        S. B. Goodwin, L. Gout, N. Glaser, J. Linglin, G. H. J. Kema, N. Lapalu, C. B. Lawrence, K. May, M. Meyer,
        B. Ollivier, J. Poulain, C. L. Schoch, A. Simon, J. W. Spatafora, A. Stachowiak, B. G. Turgeon, B. M. Tyler, D.
        Vincent, J. Weissenbach, J. Amselem, H. Quesneville, R. P. Oliver, P. Wincker, M.-H. Balesdent and B. J.
        Howlett (2011). Effector diversification within compartments of the <i>Leptosphaeria maculans</i> genome affected
        by Repeat-Induced Point mutations. <u>Nature Communications</u> 202: 1-10.
    </p>

    <p>
        Meerupati, T., K.M. Andersson, E. Friman, D. Kumar, A. Tunlid and D. Ahrén (2013). Genomic mechanisms
        accounting for the adaptation to parasitism in nematode-trapping fungi. <u>PLoS Genetics</u> 11: e1003909.
    </p>

    <p>
        For a comprehensive overview on RIP in fungi please consult the following reviews:
    </p>

    <p>
        Hane, J. K., A. H. Williams, A. P. Taranto, P. S. Solomon and R. P. Oliver (2015). Repeat-induced point
        mutation: a fungal-specific, endogenous mutagenesis process. <u>
            Genetic Transformation Systems in Fungi,
            Volume 2
        </u>, Springer: 55-68.
    </p>

    <p>
        Gladyshev, E. (2017). Repeat-Induced Point Mutation (RIP) and Other Genome Defense Mechanisms in
        Fungi. <u>Microbiology Spectrum</u> 5: 1-21.
    </p>

</div>

