<div class="container">
    <h2>Sequences: {{FileName}}</h2>

    <div ng-show="loadingSequences" style="display:flex;align-items:center;justify-content:center; height:400px">
        <h3>Loading Sequences</h3>
        <img src="~/images/DNA.svg" alt="Loading..." />
    </div>

    <table class="table table-striped" ng-show="!loadingSequences">
        <thead>
            <tr>
                <td>Name</td>
                <td>Length</td>
                <td>GC Content</td>
                <td>Options</td>
            </tr>
        </thead>
        <tr ng-repeat="sequence in sequences">
            <td>{{sequence.Name}}</td>
            <td>{{sequence.Length}}</td>
            <td>{{sequence.GCContent}}</td>
            <td style="display:flex;flex-direction:row">
                <a href="#/rip/sequence/{{FileName}}/{{sequence.Id}}" class="btn btn-outline-info" title="Calculate RIP and RIP statistics for Large RIP Affected Regions of the contig or scaffold assembly">RIP Sequence</a>
                <a href="#/rip/lrar/sequence/{{FileName}}/{{sequence.Id}}" class="btn btn-outline-info" title="Calculate RIP and RIP statistics for Large RIP Affected Regions of the contig or scaffold assembly">Calculate LRAR</a>
            </td>
        </tr>
    </table>
</div>