<div class="container">
    <h4>Parameters</h4>
    <table class="table table-fluid">
        <tr>
            <td>Window Size</td>
            <td>
                <input type="text" ng-model="window" placeholder="Window Size (1000bp)" class="form-control" />
            </td>
            <td>Slide Size</td>
            <td>
                <input type="text" ng-model="slide" placeholder="Sliding Size (500bp)" class="form-control" />
            </td>
            <td data-toggle="popover" data-content="Composite must be higher than this value">Minimum Composite</td>
            <td>
                <input type="text" ng-model="compositeRequirement" class="form-control" />
            </td>

            <td data-toggle="popover" data-content="Product must be higher than this value">Minimum Product</td>
            <td>
                <input type="text" ng-model="productRequirement" class="form-control" />
            </td>
        </tr>
        <tr>
            <td data-toggle="popover" data-content="The substrate must be smaller than this value">Maximum Substrate</td>
            <td>
                <input type="text" ng-model="substrateRequirement" class="form-control" />
            </td>

            <td data-toggle="popover" data-content="The total count of windows needed to be consecutively RIP affected to define a LRAR">Composite Index Chain</td>
            <td>
                <input type="text" ng-model="compositeCountRequirement" class="form-control" />
            </td>
            <td data-toggle="popover" data-content="Include in RIP analysis">Change in GC Content</td>
            <td>
                <input type="checkbox" ng-model="checkGcContent" name="name" value="Check GC Content" />
            </td>
        </tr>
    </table>
    <div style="display:flex;justify-content:center;">
        <a href="" ng-click="update()" class="card-link">Update</a>
    </div>
    <hr />
</div>

<div ng-show="ripProfileLoading" style="display:flex;align-items:center;justify-content:center; height:600px">
    <h3>Running analysis</h3>
    <img src="~/images/DNA.svg" alt="Loading..." />
</div>

<div class="container" ng-hide="ripProfileLoading">
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        RIP profile: Statistics on RIP for entire sequenced genome assembly. The RIP profile includes statistics on the average RIP- product, substrate, composite index values as well as the average GC content for all Large RIP Affected Regions (LRARs) identified.
    </div>

    



    <h2>{{profile.FileName}}</h2>
    <hr />
    @*<div class="card-columns">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Count Of LRAR</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{profile.Count}} LRAR</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Genome Size (bp)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{profile.FileBP}} bp.</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Product Average for LRAR</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{profile.ProductAverage}} </h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Substrate Average for LRAR</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{profile.SubstrateAverage}}</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Composite Average for LRAR</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{profile.CompositeAverage}}</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sum Of LRAR</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{profile.SumOfLRAR}} bp.</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total estimated Genome-wide RIP</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{profile.EstimatedGenomeRIP}} %</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Average size of large RIP affected genomic regions (bp)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{profile.SumAverage}} bp.</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">RIP Postive Windows</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{profile.RIPPositiveWindows}}</h6>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">LRAR Average GC Content</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{profile.LRARAverageGCContent}}</h6>
                </div>
            </div>
        </div>*@

    <div class="row" style="margin-top:50px;">
        <table class="table table-responsive">
            <tr>
                <td>Name</td>
                <td>{{profile.FileName}}</td>
            </tr>
            <tr>
                <td>Genome Size (bp)</td>
                <td>{{profile.FileBP}}</td>
            </tr>

            <tr>
                <td>Count of Genomic Windows Investigated</td>
                <td>{{profile.WindowsInvestigated}}</td>
            </tr>

            <tr>
                <td>GC Content of Genome Assembly (%)</td>
                <td>{{profile.TotalGCContent}}</td>
            </tr>
            <tr>
                <td>Number of RIP Affected Windows</td>
                <td>{{profile.RIPPositiveWindows}} </td>
            </tr>
            <tr>
                <td>RIP Affected Genomic Proportion (%)</td>
                <td>{{profile.EstimatedGenomeRIP}}</td>
            </tr>
            <tr>
                <td>Count of LRARs</td>
                <td>{{profile.Count}}</td>
            </tr>
            <tr>
                <td>Average Size of LRARs (bp)</td>
                <td>{{profile.SumAverage}}</td>
            </tr>

            <tr>
                <td>Average GC Content of LRARs (%)</td>
                <td>{{profile.LRARAverageGCContent}}</td>
            </tr>

            <tr>
                <td>Genomic Proportion of LRARs (bp)</td>
                <td>{{profile.SumOfLRAR}}</td>
            </tr>
            <tr>
                <td>Product Value for LRARs</td>
                <td>{{profile.ProductAverage}}</td>
            </tr>
            <tr>
                <td>Substrate Value for LRARs</td>
                <td>{{profile.SubstrateAverage}}</td>
            </tr>
            <tr>
                <td>Composite Value for LRARs</td>
                <td>{{profile.CompositeAverage}}</td>
            </tr>
        </table>
        <input type="button" name="downloadCSV" value="Download RIP Profile" ng-click="exportProfileAsCSV()" />
    </div>

    @*<div class="row" style="display:flex;justify-content:center">
            <div id="ripProfileGrid"
                 ui-grid="ripProfileGridOptions"
                 ui-grid-grouping
                 ui-grid-selection
                 ui-grid-resize-columns
                 ui-grid-exporter
                 class="grid ui-grid"
                 style="height:200px">
            </div>
        </div>*@
</div>