<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>


<div ng-show="loadingRIP" style="display:flex;align-items:center;justify-content:center; height:600px">
    <h3>Running analysis</h3>
    <img src="~/images/DNA.svg" alt="Loading..." />
</div>

<div class="container-fluid" ng-hide="loadingRIP">

    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Choose a scaffold or contig for RIP analyses using a sliding window approach.
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 offset-md-1">

            <h2>RIP Analysis</h2>
            <hr />
            <h3>Settings</h3>
            <table class="table table-responsive">
                <tr>
                    <td>Window Size</td>
                    <td>
                        <input type="text" ng-model="window" placeholder="Window Size (1000bp)" class="form-control" />
                    </td>
                    <td>Slide Size</td>
                    <td>
                        <input type="text" ng-model="slide" placeholder="Sliding Size (500bp)" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td data-toggle="popover" data-content="Minimum composite RIP index value per window of the index chain">Composite cut-off value</td>
                    <td>
                        <input type="text" ng-model="compositeRequirement" class="form-control" />
                    </td>

                    <td data-toggle="popover" data-content="Include in RIP analysis">Change in GC Content</td>

                    <td>
                        <input type="checkbox" ng-model="checkGcContent" name="name" value="Check GC Content" />
                    </td>
                </tr>
            </table>

            <div style="display:flex;justify-content:center;">
                <a href="" ng-click="UpdateWindowAndSlide()" class="btn btn-default btn-sm">Update</a>

            </div>

            <h3 data-toggle="popover" data-content="Select sequence for fine scale RIP analysis">Select a Sequence</h3>
            <select ng-model="selectedSequence" ng-options="n for n in seqNamesUnique" class="form-control"></select>
            <hr />

            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h3>Start and End Range</h3>
                </div>
                <div class="col-xs-12 col-md-6">
                    <input type="number" ng-model="startRange" value="" class="form-control" />
                </div>
                <div class="col-xs-12 col-md-6">
                    <input type="number" ng-model="endRange" value="" class="form-control" />
                </div>
            </div>
            <div style="display:flex;justify-content:space-around;margin-top:15px">
                <input type="button" name="UpdateRange" ng-click="slideRange('backward')" value="Decrement" class="btn btn-outline-info" />
                <input type="button" name="UpdateRange" ng-click="updateRange(startRange,endRange)" value="Update Range" class="btn btn-outline-info" />
                <input type="button" name="UpdateRange" ng-click="slideRange('forward')" value="Increment" class="btn btn-outline-info" />
            </div>

            <div style="width:95%;">

                <canvas id="line" class="chart chart-line" chart-data="ripIndex.data"
                        chart-labels="ripIndex.Start" chart-series="ripIndex.series" chart-options="ripIndex.options" chart-colors="ripIndex.colors"></canvas>
                <br />
                @*<input type="button" class="btn btn-default" ng-click="saveLineChart()" value="Save Image" />*@
                <a id="aDownloadLink">Download</a>
            </div>
            <br /><br />
        </div>
        <div class="col-xs-12 col-md-3">
            <h2 data-toggle="popover" data-content="The total amount of RIP affected regions per genome assembly. The total count of windows indicating RIP positive index values against the total count of windows investigated for the entire assembly or scaffold.">Percentage RIP Affected</h2>
            <hr />
            <div style="display:flex;align-items:center; justify-content:space-around">
                <div>
                    <h3>{{RIPPercentage}} % RIP Affected</h3>
                    <canvas class="chart chart-pie" chart-data="RIPPie.data"
                            chart-labels="RIPPie.labels" chart-series="RIPPie.series" chart-options="RIPPie.options" chart-colors="RIPPie.colors"></canvas>
                    <h3>{{GCContent}} % GC Content</h3>
                    <canvas class="chart chart-pie" chart-data="GCContentChart.data"
                            chart-labels="GCContentChart.labels" chart-series="GCContentChart.series" chart-options="GCContentChart.options" chart-colors="GCContentChart.colors"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="g1"
                 ui-grid="ripGridOptions"
                 ui-grid-grouping
                 ui-grid-selection
                 ui-grid-resize-columns
                 ui-grid-exporter
                 class="grid ui-grid"
                 style="height:65vh;">
            </div>
        </div>
    </div>

</div>