<div style="display:flex;align-items:center;justify-content:center; height:40vh;">
    <div style="display:flex;flex-direction:column">
        <h1>The RIPper</h1>
        <hr />
        <h3>Repeat-Induced Point Mutation Analysis</h3>
    </div>
    <img src="~/images/DNA.svg" alt="Loading..." />
</div>

<div class="container">
    <input type="text" value="" placeholder="Email Address eg. john@smith.co.za" class="form-control" ng-model="email" />

    <div style="display:flex; height:50px; justify-content:center;align-items:center">
        <input type="button" value="Send Password Reset Code" class="btn btn-outline-success" ng-click="submitForgotPassword()" />
    </div>
</div>