<style>
    p {
        text-align: justify;
        text-justify: inter-word;
    }
</style>

<div style="display:flex;align-items:center;justify-content:center; height:70vh;">
    <div style="display:flex;flex-direction:column">
        <h1>The RIPper</h1>
        <hr />
        <h3>Genome-Wide Repeat-Induced Point (RIP) Mutation Analysis</h3>
    </div>
    <img src="~/images/DNA.svg" alt="Loading..." />
</div>

